.vscode
plot_superviz
upsampling
test
logs_*
PiMAE
MinkowskiEngine
syn
*.pt
*.pth
*.log
*.png
*.ply
wandb
*/PVD/output
__pycache__
output
LION
3d
ShapeNetCore*
*.sampling_viz
build
*.out
!PCUpsampling/third_party/ZegCLIP/configs/_base_/datasets
*.npy
checkpoints/
sampling.sh
*.egg
*.egg-info
*.sh
!scripts/*.sh
!install.sh
exported_model
pyviz3d
test_room
*.err
viz_*
logs/
evaluation/
output_objects/
pretrained/
data/objects
